body { 
    background: #111;
    overflow: hidden;
  }
  
  #logo {
    width: 20vmax;
    max-width: 250px;
    height: auto;
    position: absolute;
    z-index: -1;
    visibility: hidden;
  }
  
  .scanlines {
    --scan-height: 2px;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    
    filter: blur(4px);
    opacity: 0.25;
    background: repeating-linear-gradient(to bottom,
      rgba(white, 0.2) calc(var(--scan-height) * 1), 
      rgba(white, 0.2) calc(var(--scan-height) * 2),
      rgba(white, 0.1) calc(var(--scan-height) * 2), 
      rgba(white, 0.1) calc(var(--scan-height) * 3)
    );
  }